body{
}

body{
	font-family: 'Relaway', sans-serif;
	color: #000000;
	font-weight: 300;
}

header{
	padding:10px 0;
	background-color: #fff;
	position:absolute;
	with: 100%;
}

#hero{
	background-color: #fff;
	padding: 10% 0;
	padding-top: 8%;
	color:#09090d;
}

#hero h1{
font-weight: 900;
	font-size: 80px;
}

.title-yellow{
	color: #000;
	font-weight: 700;
	font-size: 16px;
	background-color: #feda79;
	padding: 8px 30px;
	width: 32%;
	border-radius: 10px;
	position: center;
	
}

.titulo{
	font-weight: 800;
	font-size: 50px;
}

#about{
	background-color: #cce4e4;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10% 20% ;
	padding-top: 8%;
	color: #17494d;
}

#Worldwide{
	text-align:center;
	padding: 90px 0 ;

}

#Subscribe{
    background-color: #d6baf5;
	padding: 80px 0;
}

#subscribe .btn-twilo{
	width: 60%;
}
footer{
	color:#5d5d5d;
	padding: 60px 0;
}

.marg-left{
	margin-left: 20%;
}

.footer-title{
	font-weight: 800;
	margin-left: 5%;
}

footer h3{
	text-align: center;
	margin-top: 4%;
}
